@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fonts/idroid.otf) format('opentype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color0: #ebe5c5;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #1a5c37;
    --color5: #063d1e;
    --color6: #FFFFFF;
    --color7: #000000;

    --font-default: Arial, Verdana, Helvetica, sans-serif;
    --font-primary: 'Bebas Neue', cursive;
    --font-fantasy: 'Android', cursive;
}

body {
    background-color: var(--color0);
    font-family: var(--font-default);
}

a.link-external::after {
    content: ' \1F50D';
}

header {
    background-image: linear-gradient(to bottom, var(--color3), var(--color5));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header > h1 {
    color: var(--color6);
    font-family: var(--font-primary);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

header > p {
    color: var(--color6);
    font-family: var(--font-default);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

nav {
    border-top: 1px solid #ffffffd4;
    background-color: var(--color5);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.350);
    margin-top: 2px;
    padding: 10px;
    text-align: center;
}

nav > a {
    border-radius: 5px;
    color: var(--color6);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    transition: .2s;
}

nav > a:hover {
    background-color: var(--color2);
    color: var(--color4);
}

main {
    background-color: var(--color6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto 30px;
    padding: 20px;
}

main h1 {
    color: var(--color5);
    font-family: var(--font-fantasy);
    font-size: 1.8em;
    font-weight: normal;
}

main h2 {
    background-image: linear-gradient(to right, var(--color1), transparent);
    color: var(--color4);
    font-family: var(--font-fantasy);
    font-size: 1.3em;
    padding: 10px;
}

main p {
    font-size: 1em;
    line-height: 1.5em; /*2em*/
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
}

main strong {
    font-weight: bold;
    padding: 2px 6px;
    border-bottom: 2px solid var(--color4);
}

main .no-border {
    border-bottom: none;
}

main a {
    background-color: var(--color3);
    border-radius: 5px;
    color: var(--color6);
    font-weight: bold;
    padding: 2px 6px;
    text-decoration: none;
}

main a:hover {
    background-color: var(--color5);
}

main img {
    width: 100%;
}

main .smart {
    display: block;
    margin: auto;
    max-width: 350px;
}

div.video {
    background-color: var(--color5);
    margin: 0 -20px 25px;
    padding: 20px 20px 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    left: 5%;
    top: 5%;
    height: 90%;
    width: 90%;
}

aside {
    background-color: var(--color1);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.250);
    padding: 10px;
}

aside > h3 {
    background-color: var(--color4);
    color: var(--color6);
    border-radius: 10px 10px 0 0;
    margin: -10px -10px 0 -10px;
    padding: 10px;
}

aside > ul {
    list-style-position: inside;
    list-style-type: "\1F5F8\00A0\00A0";
    columns: 2;
}

aside abbr {
    text-underline-offset: 5px;
}

footer {
    background-color: var(--color5);
    color: var(--color6);
    font-size: 0.8em;
    padding: 10px;
    text-align: center;
}

footer a {
    color: var(--color6);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: var(--color2);
    text-underline-offset: 5px;
    text-decoration: underline;
}
